<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 [innerHTML]="'heroes.title' | translate"></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <nav class="navbar navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a routerLink="/heroes" class="nav-link">Heroes</a>
          </li>
        </ul>
        <div class="dropdown">
          <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown">
            <img width="32" class="mr-2" src="assets/images/flags/{{currentLang}}.svg" alt="" />{{ "heroes.lang-" + currentLang | translate}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation">
              <a role="menuitem" (click)="useLanguage(getUnusedLanguage())">
                <img width="32" class="ml-2 mr-2" src="assets/images/flags/{{getUnusedLanguage()}}.svg" alt="" />
                {{ "heroes.lang-" + getUnusedLanguage() | translate}}
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <router-outlet></router-outlet>
      <app-messages></app-messages>
    </div>
  </div>
</div>
